<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
  [nzMaskClosable]="false" [nzWidth]="400" [nzVisible]="visible" nzTitle={{title}} (nzOnClose)="closeDrawer()">


  <form nz-form [nzLayout]="'horizontal'" [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSpan]="4">Key</nz-form-label>
      <nz-form-control [nzSpan]="18" nzErrorTip="Selecciona un Proveedor!">
          <input nz-input type="text" formControlName="key" placeholder="" [readonly]="true" class="cursor" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="4">Name</nz-form-label>
        <nz-form-control [nzSpan]="18" nzErrorTip="the field is required!">
          <input nz-input formControlName="name" placeholder="" type="text" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="4">Payment</nz-form-label>
        <nz-form-control [nzSpan]="18" nzErrorTip="the field is required!">
          <input nz-input formControlName="payment" placeholder="" type="number" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="4">Paid</nz-form-label>
        <nz-form-control [nzSpan]="18" nzErrorTip="the field is required!">
          <input nz-input formControlName="paid" placeholder="" type="text" />
        </nz-form-control>
      </nz-form-item>
        <nz-form-item>
      <nz-form-control [nzSpan]="14" [nzOffset]="4">
        <button nz-button nzType="primary"><i nz-icon nzType="check" nzTheme="outline"></i> Save</button>
      </nz-form-control>
    </nz-form-item>
  </form>


  <div class="footer">
    <button type="button" (click)="closeDrawer()" class="ant-btn"
      style="margin-right: 8px;"><span>Close</span></button>
  </div>
</nz-drawer>
